.imagem2{
     background-image: url(https://img.freepik.com/free-vector/forms-concept-illustration_114360-4947.jpg?w=2000);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }

 .texto2{
    font-weight: bold !important;
 }

.btnCancelar{
    margin-right: 20px !important;
}
 
