.postagens {
    width: 25vw;
    min-height: 232px;
    padding: 0;
    margin: 0;
  }
  
  .containerLista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    width: 96%;
    margin: 0 auto;
  }

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 390px;
    margin: 1rem auto;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    fill: #9e9ea7;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/*CSS do Loader*/

.line-wobble {
    --uib-size: 80px;
    --uib-speed: 1.55s;
    --uib-color: black;
    --uib-line-weight: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--uib-line-weight);
    width: var(--uib-size);
    border-radius: calc(var(--uib-line-weight) / 2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
   }
   
   .line-wobble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    opacity: 0.1;
   }
   
   .line-wobble::after {
    content: '';
    height: 100%;
    width: 100%;
    border-radius: calc(var(--uib-line-weight) / 2);
    animation: wobble var(--uib-speed) ease-in-out infinite;
    transform: translateX(-90%);
    background-color: var(--uib-color);
   }
   
   @keyframes wobble {
    0%,
     100% {
     transform: translateX(-90%);
    }
   
    50% {
     transform: translateX(90%);
    }
   }